<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href={{ asset("favicon.ico") }} type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="{{  asset("css/base.css") }}">
        <title>{% block title %}Spallian Blog - {% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

            {{ include("./_partials/_header.html.twig") }}
            {% for message in app.flashes('success') %}
                <div class="flash flash-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash flash-error">
                    {{ message }}
                </div>
            {% endfor %}
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            {{ include("./_partials/_footer.html.twig") }}
        {% endblock %}
    </body>
</html>
